In [1]:
import mysql.connector as connector
from mysql.connector import errorcode

In [2]:
try:
    connection = connector.connect(user = 'admin1',
                                  password = '12345678',
                                  host = 'localhost',
                                  )
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print('connection username or passoword are incorrect')
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print('database does not exist')
    else:
        print(err)

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("USE littlelemondb")

In [5]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('addresses',)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('multiple_items',)
('order_above_150',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [6]:
query = """
select c.CustomerID, c.FullName, c.TelephoneNumber, c.Email, o.TotalCost
from Bookings as b
inner join Orders as o
on b.OrderID = o.OrderID
inner join Customers as c
on b.CustomerID = c.CustomerID

where o.TotalCost > 60;
"""

cursor.execute(query)
res = cursor.fetchall()
col = cursor.column_names

print(col)
for row in res:
    print(row)

('CustomerID', 'FullName', 'TelephoneNumber', 'Email', 'TotalCost')

In [7]:
connection.close()